.login {
  display: flex;
  justify-content: center;
  margin-top: 45vh;
}

.scrollable {
  overflow-y: scroll;
  height: 600px;
  margin-bottom: 100px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  display: none;
}
